.Skills {
  position: relative;
  top: 100px;
  padding: 100px 0;

  &-title {
    // color: $--title-color;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
    -webkit-font-smoothing: auto;
  }

  &-text1 {
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: #6A6A6D;
    margin-bottom: 30px;
  }

  &-content {
    position: relative;
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(6rem, 1fr));
    gap: 20px;
  }

  &-cards {
    padding: 10px;
    background: #2F2E34;
    border-radius: 8px;
    opacity: .8;
    cursor: pointer;

    .image-div {
      width: 70%;
      margin: 0 auto;
    }

    .image-text {
      position: absolute;
      top: calc(100% + 30px);
      left: 50%;
      transform: translateX(-50%);
      display: none;
      background: #2F2E34;
      max-width: 100%;
      padding: 20px;
      line-height: 140%;
      color: #fff;
      z-index: 5;
    } 
    .show {
      display: block;
    }
  }   

  @media (max-width: 635px){
    &-content {
      grid-template-columns: repeat(3, 1fr);
      width: 400px;
      margin: 0 auto;

      .image-div {
        width: 50%;
        margin: 0 auto;
      }

      .image-text {
        width: 300px;
        
      }
    }


  }

  @media (max-width: 550px) {
    &-content {
      grid-template-columns: repeat(3, 1fr);
      width: 320px;
      margin: 0 auto;
    }

    &-title {
      font-size: 28px;
    }

    &-text1 {
      font-size: 18px;
      max-width: 100%;
    }

    &-cards {
      opacity: 1;
      width: 70px;
      padding:  10px 5px;
    }

    .image-text {
      width: 200px;
      font-size: 14px;
    }

  }

  @media (max-width: 350px) {
   &-content {
    grid-template-columns: repeat(2, 1fr);
    width: 180px;
    margin: 0 auto;
    }

   .image-text {
    font-size: 12px;
    }
  }

}