.Header {
  background: $--body-color;
  border-bottom: 1px solid $--base-color;
  
  padding: 28px 0;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 999;
  
  
  .Container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }

  &-logo {  
    a {
      text-decoration: none;
      color: $--title-color;
      font-size: 22px;
      font-weight: 600;

      span {
        color: $--base-color;
      }
    }
  }

  #menu {
    display: flex;
    align-items: center;
    gap: 20px;
    

    a {
      color: $--title-color;
      font-size: 18px;
      text-transform: capitalize;
      
      
      &:hover {
        color: $--base-color;
        border-bottom: 1px solid $--base-color;
      } 

    }
    
  }

}