.Header {

  #nav {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    height: 6rem;
    width: 100vw;
    transition: background 0.45s ease 0s;
  }

  .scrolled {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    display: flex;
    height: 6rem;
    width: 100vw;
    background: rgba(0, 0, 0, 0.725);
    backdrop-filter: blur(4px);
    transition: background 0.45s ease 0s;
  }
  
  .flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &-logo {  
    a {
      text-decoration: none;
      color: $--title-color;
      font-size: 22px;
      font-weight: 600;

      span {
        color: $--base-color;
      }
    }
  }

  .logoMobile{  
    a {
      text-decoration: none;
      color: $--title-color;
      font-size: 20px;
      font-weight: 600;

      span {
        color: $--base-color;
      }
    }
  }

  .logoMobile {
    display: none;
  }

  &-bts {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    font-size: 28px;

    .uil{
      color: #fff;

      &:hover {
        color: $--base-color;
      }
    }
  }

  .uil-setting {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    font-size: 26px;

    color: #fff;

    &:hover {
      color: $--base-color;
    }
    cursor: pointer;
  }
}