.Projetos {
  position: relative;
  top: 100px;
  padding: 100px 0;

  &-title {
    // color: $--title-color;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 80px;
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
    // background: blue;
  }

  &-cards {
    // box-shadow: 0px 0px 12px $--base-color;
    background: #fff;
    border-radius: 20px;
    max-width: 355px;
    padding: 16px 8px;
    text-align: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
    overflow: hidden;
    transition: ease-in-out 0.3s;
  }


  &-card {
    display: block;
    max-width: 350px;
    height: 200px;
    background: red;
  }

  &-text3 {
    color: $--text-color-second;
    max-width: 100%;
  }

  &-bts {
    margin: 0 auto;
    display: flex;
    width: 110px;
    padding: 8px 15px;
    color: #fff;
    gap: 10px;
    text-transform: capitalize;
    align-items: center;
    background: $--base-color;
    border-radius: 8px;

    .image1 {
      width: 30px;
    }
  }

  &-btn {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .btns1 { 
    cursor: pointer;
    padding: 15px 25px;
    // color: #fff;
    border-radius: 8px;
    font-size: 16px;
    background: $--base-color;
    border: #fff;
    margin-top: 20px;
  }

  .hide {
    opacity: 0;
    display: none;
    transition: 1000ms;
  }

  @media (max-width: 800px) {
    &-content {
      max-width:350px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      
    }
  }

  @media (max-width: 600px) {
    &-content {
      display: flex;
      flex-direction: column;
    }

    &-cards {
      max-width: 270px;
      margin: 0 auto;
      
    }
    &-card {
      max-width: 270px;
      height: 250px;
    }
  }
}