.Sobre {
  position:relative;
  top: 100px;
  padding: 100px 0;

  &-title {
    text-align: center;
    margin-bottom: 80px;
  }

  &-title1 {
    // color: $--title-color;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 50px;
    // justify-content: space-between;

    figure {
      background: $--base-color;
      width: 30%;
      border-radius: 10px;

      // img {
      //   // border-radius: 100% 0% 46% 54% / 69% 80% 20% 31% ;
      //   filter: drop-shadow(
      //     1px 1px 1px $--base-color
      //   );
      // }
    }
  }

  &-texts {
    // color: $--text-color;
    max-width: 630px;
    font-size: 22px;
    line-height: 28px;

    .Text1 {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }


  @media (max-width: 900px) {
    &-texts {
      max-width: 500px;
      font-size: 20px;

      .Text1 {
        font-size: 26px;
      }
    }
  }
  @media (max-width: 800px) {
    &-content {
      flex-direction: column;
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    top: 100px;
    &-content {
      flex-direction: column;
      text-align: center;

    }

    figure {
      width: 40%;
    }

    &-texts {
      max-width: 100%;
    }
  }

  @media (max-width: 500px) {
    // top: 0;

  }
}