.Sobre {
  position:relative;
  top: 100px;
  padding: 100px 0;

  &-title {
    text-align: center;
    margin-bottom: 80px;
  }

  &-title1 {
    color: $--title-color;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
  }

  // p {
  //   padding: 100px 0;
  // }

  &-content {
    display: flex;
    align-items: center;
    gap: 50px;

    figure {
      background: $--base-color;
      width: 30%;
      border-radius: 10px 40px 10px 8px;
      -webkit-animation: roll-in-left 0.6s ease-out both;
      animation: roll-in-left 0.6s ease-out both;
    }
  }

  &-texts {
    color: $--text-color;
    max-width: 600px;
    font-size: 22px;
    line-height: 28px;

    .Text1 {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }

  @-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  @media (max-width: 900px) {
    &-texts {
      max-width: 500px;
      font-size: 20px;

      .Text1 {
        font-size: 26px;
      }
    }
  }
  @media (max-width: 800px) {
    &-content {
      flex-direction: column;
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    top: 100px;
    &-content {
      flex-direction: column;
      text-align: center;

    }

    figure {
      width: 40%;
    }

    &-texts {
      max-width: 100%;
    }
  }

  @media (max-width: 500px) {
    // top: 0;

  }
}