//box-shadow: 0px 0px 12px #00000014;

$--base-color: #6AB99D;
$--base-color-second: #03030371; 
$--title-color: #0f241d;
$--text-color: #757575;
$--text-color-light: #fafafa;
$--body-color: #fafafa;

$--title-font: 'Poppins', sans-serif;
$--body-font: 'DM sans', sans-serif;



.Container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $--body-font;
  background: $--body-color;
  -webkit-font-smoothing: antialiased;
  
}

.Linha {
  border-bottom: 1px solid $--base-color;
  position: relative;
  top: 100px;
}
.Linha1 {
  border-bottom: 1px solid $--base-color;
  position: relative;
}
.Linha2 {
  border-bottom: 1px solid $--base-color;
  position: relative;
}
